.myposts {
	margin-left: 50px;
}

.posts {
	margin-top: 50px;
}

.textarea {
	width: 30%;
	height: 50px;
	background: #222;
	border: 2px solid #4A00E0;
	border-radius: 0px 50px;
	box-shadow: 0 1rem 3rem rgb(74,0,224)!important;
	color: gray;
}