.nav {
  height: 500px; 
  grid-area: n;
  background: #222;
}

.item {
  display: flex;
  justify-content: center;  
  color: #fff;
}

.item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff; /* Цвет ссылки */
  text-decoration: none;
  border-radius: 0px 50px 50px 0px;
}

.item a:visited {
    color: gray; /* Цвет посещённой ссылки */
} 

.item a:hover {
  color: gray; /* Цвет ссылки при наведении на нее курсора мыши */  
  border: 2px solid transparent;
  border-image: linear-gradient(#4A00E0, #8E2DE2);
  border-image-slice: 1;
}

.item a.activeLink {
  color: gray; /* Цвет активной ссылки */
}

