.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    "h h h"
    "n c s";

  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  margin-top: 50px;
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px;
  width: 100%;
}
