.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-areas:
    "h h h"
    "n c s";
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 10px;
  background: #222;
}

.mystyle {
  background: coral;
  color: white;
}

.app-wrapper-content {
  grid-area: c;
  border: 2px solid #4A00E0;
  border-radius: 0px 50px 0px 0px;
  color: #fff;
 /*  background: #8E2DE2;
 fallback for old browsers
 background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
 Chrome 10-25, Safari 5.1-6
 background: linear-gradient(to right, #4A00E0, #8E2DE2);
 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Style scrollbar start */
 ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #222;
}

 ::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5; 
}

 ::-webkit-scrollbar-thumb
{
  border-radius: 50px 0px;
  background-color: #4A00E0;
  
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                     color-stop(.1, rgba(255, 255, 255, .2)),
             color-stop(.5, transparent), to(transparent));
}
/* Style scrollbar end */
